/* Light mode styles */

body {
  background-color: #fff;
  color: #000;
}

h1 {
  color: #000;
}

form {
  background-color: #fff;
  color: #000;
}

label {
  color: #000;
}

textarea {
  background-color: #fff;
  color: #000;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
}

#result {
  background-color: #fff;
  color: #000;
}

/* Dark mode styles */

.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode h1 {
  color: #fff;
}

.dark-mode form {
  background-color: #000;
  color: #fff;
}

.dark-mode label {
  color: #fff;
}

.dark-mode textarea {
  background-color: #000;
  color: #fff;
}

.dark-mode input[type="submit"] {
  background-color: #fff;
  color: #000;
}

.dark-mode #result {
  background-color: #000;
  color: #fff;
}
